.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.modeImages {
    height: 35px;
    width: auto;
    border-radius: 100px;
    border: none;
}

.bg-blue-900 {
    color: #fff;
    background-color: #031633;
}

.bg-teal-900 {
    color: #fff;
    background-color: #041b14;
}

.bg-brown-900 {
    color: #fff;
    background-color: #1c1212;
}

.tint {
    filter: brightness(120%);
}